:root {
  --racing-green: #229a23;
  --racing-green-dark: #20692b;
  --racing-green-accent: #abc6ac;
  --white: #ffffff;
  --black: #141414;
  --grey-light: #d0d0d0;
  --grey-medium: #b4b4b4;
  --scarlet-red: #f12553;
}
